.chart::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  background-image: url("images/mapcali.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}

#map,
body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}
